p{
 color :rgb(24, 5, 128)  ;
 font-family :times ;
 text-align: left;
 font-style: normal;
 font-size : 150% ;}
h1{
  font-family :times ;
 text-align: center;
 text-decoration: underline;
 font-style: normal;
 font-size : 180% ;
 color: darkslateblue;
 background-color: honeydew;}
h2{
  font-family :times ;
  font-style: normal;
  font-size : 150% ;
  color:firebrick;}
  strong{
  color: indigo;
  text-align: center;
  font-style: normal;
  background-color: beige;}
mark{
  color:rgb(119, 4, 113)}
a:visited {
  text-decoration:overline ;
 color :rgba(28, 28, 235, 0.747) (112, 153, 49) ;}
input,select {
  padding:5px;
  border:1px solid rgb(129, 129, 38);
  border-radius:2em;
  width:200px;
  box-shadow: 1px 1px 2px burlywood;
  margin-top:5px;}
table{
   border:grey;
background-color:#d5dfee;
margin:auto;
text-align :center;}
th{
  color:#2c2a2a;
font-family:"times new roman";
padding:5px;
margin:20px; }
form{ 
  margin-bottom:50px;
  margin-right:50px;
  margin-left :260px;
  margin-top:50px;
  width:50%;
  border: 2px solid whitesmoke;
  border-radius :2em ;
  background-color:whitesmoke; } 
 textarea{ 
   vertical-align:top;
   height: 250px;}
legend{
  font-style: oblique;
    font-size:20px}
  /* la partie menu */
  
 
nav.menu-nav ul li.btn ,li.btn {
  display: inline-block;
  list-style-type: none;}
nav.menu-nav ul li.btn,li.btn a{
  color: aliceblue;
  background-color: darkblue;
  text-decoration: none;
  padding: 10px;}
nav.menu-nav ul li.btn,li.btn:hover a{
  color:darkblue ;
  background-color: aliceblue;
  transition: 0,9s all;}
/* la partie footer */
footer{
  flex-shrink: 0;
  border-top: 1px double black  ;
  width: 100%;
  background: rgb(44, 43, 43);
  color: rgb(180, 220, 233);}
.contenu-footer{
  width:1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 50px 0 100px;}
.bloc{
  width: 300px;
  margin: 0 30px;}
.footer-contact{left: 0%;}
.footer-contact h3,
.footer-horaires h3,
.footer-medias h3{
  font-size: 25px;
  padding-bottom: 20px;}   
.footer-contact p{padding: 5px 0;}
.liste-horaires,
.liste-media{
  list-style-type: none;
}
.liste-media img{
  width: 40px;
  margin: 10px 10px;
}
.liste-media a{
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size:25px ;
}
@media screen and (max-width: 800px){
  .contenu-footer{
    width: 320px;
  }
  .bloc{
    width: 300px;
    margin: 30px 30px;
  }
  .bloc:nth-child(1),
  .bloc:nth-child(2){margin-bottom: 30px;}
  .bloc:nth-child(1){margin-top:0 ;}}
